<h1><%= @questions_data["title"] %></h1>

<p><%= @questions_data["text"] %></p>

<% @questions_data["questions"].each_with_index do |q, index| %>
  <div style="margin-bottom: 20px; padding: 10px; border: 1px solid #ccc;">
    <p><strong>Question <%= index + 1 %>:</strong> <%= q["question_text"] %></p>
    <ul>
      <% q["choices_text"].each_with_index do |choice, i| %>
        <li>
          <input type="radio" name="q<%= index %>" id="q<%= index %>_choice<%= i %>">
          <label for="q<%= index %>_choice<%= i %>"><%= choice %></label>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= link_to "解説を見る", explanation_question_path(id: @id, level: params[:level] || current_user.level) %>


