<div class="page-container">
  <h1 class="text-2xl font-bold mb-4">メイン画面</h1>

  <% if current_user.present? %>
    <p class="mb-2">ようこそ、<%= current_user.name %>さん！</p>

    <% if current_user.level.present? %>
      <nav class="space-x-4">
        <% if @question_set.present? %>
          <p><%= link_to '問題へ', question_path(@question_set) %></p>
        <% else %>
          <p class="text-red-600">まだ学習できる問題がありません</p>
        <% end %>
        <p><%= link_to '設定へ', settings_path, class: "text-blue-600 hover:underline" %></p>
        <p><%= link_to '学習カレンダーへ', calendars_path, class: "text-blue-600 hover:underline" %></p>
      </nav>
    <% else %>
      <p>レベル設定がまだ完了していません</p>
      <%= link_to 'レベルを設定する', set_level_user_path(current_user), class: "text-purple-500 underline" %>
    <% end %>

    <div class="mt-4">
      <%= button_to 'ログアウト', logout_path, method: :delete, data: { turbo: false }, class: "text-red-600 hover:underline" %>
    </div>
  <% else %>
    <%= button_to 'ログイン', login_path, class: 'btn btn-outline-primary me-2' %>
  <% end %>
</div>
