<div class="page-container">

  <% content_for :body_attributes do %>
    data-has-timer="true" data-turbo="false"
  <% end %>

  <h1 class="text-center mb-6">
    復習問題
  </h1>

  <%= form_with url: explanation_quiz_path(@quiz_set.uuid),
              method: :post,
              local: true,
              html: { id: "quiz_form" } do |f| %>

   <%= hidden_field_tag :uuid, @quiz_set.uuid %>

    <div id="timer" style="font-size: 20px; margin-bottom: 16px;">00:00</div>

    <%= hidden_field_tag :study_seconds, 0, id: "study_seconds" %>
    <%= hidden_field_tag :accuracy, 0, id: "accuracy_field_quiz" %>

    <% @questions.each_with_index do |q, index| %>
      <div class="question-block max-w-3xl mx-auto text-left mb-8">

        <p class="leading-relaxed mb-4"><strong><%= index + 1 %>. <%= q[:question_text] %></strong></p>

        <ul class="choice-list space-y-2">
          <% q[:choices].each_with_index do |choice, i| %>
            <li class="choice-item">

              <input type="radio"
                     name="q<%= index %>"
                     value="<%= i %>"
                     id="q<%= index %>_choice<%= i %>">

              <label for="q<%= index %>_choice<%= i %>">
                <%= choice %>
              </label>

            </li>
          <% end %>
        </ul>

      </div>
    <% end %>

    <%= f.submit "解説を見る", class: "btn btn-primary mt-4" %>

  <% end %>

</div>
