<div class="page-container">

  <% if @user.errors.any? %>
    <div class="setting-error">
      <h2><%= pluralize(@user.errors.count, "件のエラー") %>が発生しました：</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h1>新規登録</h1>

  <div class="setting-section">

    <%= form_with model: @user, local: true do |f| %>

      <!-- 名前 -->
      <label>名前</label>
      <%= f.text_field :name %>

      <!-- メールアドレス -->
      <label>メールアドレス</label>
      <%= f.email_field :email %>

      <!-- パスワード -->
      <label>パスワード</label>
      <%= f.password_field :password %>

      <!-- パスワード確認 -->
      <label>パスワード（確認）</label>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "登録", class: "btn btn-primary w-full mt-4" %>

    <% end %>

  </div>

</div>
