<div class="page-container max-w-4xl mx-auto px-4">
  <h1 class="text-2xl font-bold text-center mb-6"><%= @date.strftime('%Y年%m月') %></h1>

  <div class="mb-4 flex gap-3">
    <%= link_to "前の月",
      calendars_path(month: @date.prev_month),
      class: "px-3 py-1 rounded bg-gray-200 text-sm" %>

    <%= link_to "次の月",
      calendars_path(month: @date.next_month),
      class: "px-3 py-1 rounded bg-gray-200 text-sm" %>
  </div>

  <div class="calendar-container">
    <table class="border-separate border-spacing-1 w-full text-center text-sm">
      <tr>
        <% ['日','月','火','水','木','金','土'].each_with_index do |d,i| %>
          <th class="<%= i == 0 ? 'text-red-500' : '' %> <%= i == 6 ? 'text-blue-500' : '' %>">
            <%= d %>
          </th>
        <% end %>
      </tr>

      <% @first_wday.times do %>
        <td></td>
      <% end %>

      <% @days.each do |current_date| %>
        <td class="relative p-2 bg-white rounded shadow-sm">

          <% if @studied_dates.include?(current_date) %>
            <div class="stamp"></div>
          <% end %>

          <%= link_to current_date.day,
            calendar_day_path(date: current_date),
            class: "font-semibold block" %>
        </td>

        <% if current_date.saturday? %></tr><tr><% end %>
      <% end %>
    </table>
  </div>

  <!-- 学習グラフ -->
  <div class="study-container bg-white rounded-xl p-6 shadow-md mb-24">
    <h2>今月の学習時間・予想スコア</h2>
    <canvas id="studyChart"
        data-study='<%= raw(@study_data.to_json) %>'
        class="w-full">
    </canvas>

    <!-- 今月の集計表示 -->
    <div class="month-summary mt-4">
      <p>今月の学習時間合計: <%= @month_summary[:total_duration] %> 分</p>
      <p>今月の正答率: <%= @month_summary[:average_accuracy] %> %</p>
      <p>今月の予想スコア: <%= @month_summary[:predicted_score] %> 点</p>
    </div>
  </div>
  <br>
  <%= link_to "メイン画面へ戻る", main_path, class: "btn btn-primary mt-6" %>
</div>
