<h1><%= @date.strftime('%Y年%m月') %></h1>

<!-- 月送り -->
<div style="margin-bottom: 16px;">
  <%= link_to "前の月", calendars_path(month: @date.prev_month), class: "btn btn-secondary" %>
  <%= link_to "次の月", calendars_path(month: @date.next_month), class: "btn btn-secondary" %>
</div>

<table class="calendar-table">
  <tr>
    <% ['日','月','火','水','木','金','土'].each_with_index do |d,i| %>
      <th style="<%= 'color:red;' if i == 0 %><%= 'color:blue;' if i == 6 %>"><%= d %></th>
    <% end %>
  </tr>

  <% @first_wday.times { %>
  <td style="border:1px solid #000;"></td>
  <% } %>

  <% (1..@last_day_num).each do |day| %>
    <% current_date = Date.new(@date.year, @date.month, day) rescue nil %>
    <% next unless current_date %>

    <td style="border:1px solid #000; position: relative;">
      <%= link_to day, calendar_day_path(date: current_date), class: "calendar-day-link" %>
    </td>
    <% if current_date.saturday? %></tr><tr><% end %>
  <% end %>
</table>

<br>
<%= link_to "メイン画面へ戻る", main_path, class: "btn btn-primary" %>
