<!DOCTYPE html>
<html>
  <head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-JPQRFBT89R"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-JPQRFBT89R');
  </script>

    <title>Admin Panel</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-h-screen flex flex-col bg-gray-50">

    <header class="bg-gray-800 text-white">
      <div class="max-w-5xl mx-auto px-4 py-3 font-semibold">
        管理者メニュー
      </div>
    </header>

    <main class="flex-grow max-w-5xl mx-auto px-4 py-6">
      <%= yield %>
    </main>

  </body>
</html>
